body, html {
  margin: 0;
  padding: 0;
  user-select: none;
}
h1 {
  text-align: center;
  margin-top: 20px;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.header__page {
  position: relative;
  width: 100%;
  height: 100vh;
  z-index: 30;
}
header {
  text-align: center;
  padding-top: 2em;
}
.nav--hook--inv {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 38px;
  /* border: 1px solid; */
}
.nav--hook {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 11px;
  border-radius: 10px 10px 0 0;
  background-color: rgba(0, 0, 0, 0.75);
}
nav {
  text-align: center;
  position: fixed;
  z-index: 55;
  bottom: -160px;
  right: calc(50vw - 395px/2);
  transition: 0.5s;
  transition-delay: 0.08s;
}
.nav--sticky {
  /* bottom: calc(100vh / 60 - 95px); */
  bottom: -84px;
}
.nav--sticky:hover {
  bottom: 0%;
}
/* .tooltip-inner {
  margin: 1px;
} */
.nav--out {
  bottom: -160px;
  pointer-events: none;
}

.info--hook {
  width: 100px;
  height: 100px;
  border: 1px solid;
  position: absolute;
  left: 0;
  top: 50vh;
  z-index: 20;
}
.info_page {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: #ff0000;
  box-shadow: 20px 25px 25px #000000;
  transform: translate(-80vw, -5vh) rotate3d(0.2, -1, 0, 70deg);
  z-index: 15;
}
.settings--hook {
  width: 100px;
  height: 100px;
  border: 1px solid;
  position: absolute;
  right: 0;
  z-index: 20;
}
.settings_page {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: #2600ff;
  z-index: 5;
}
.settings--inside {
  position: relative;
  text-align: left;
  width: 90%;
  height: 83%;
  max-height: 83%;
  overflow-y: auto;
  overflow-x: hidden;
  padding-top: 1%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px 10px 10px 20px;
  /* background-color: #ffffec; */
  background-color: #ffffff;
  box-shadow: 3px 3px 2px #000000 inset;
}
.settings__tabs {
  margin: 0px 10px 0 10px;
  text-align: center;
}
.settings__tabs__content {
  margin: 3% 0 0 0 ;
}
.tab__bar-settings {
  text-align: left;
}
.settings__tabs__content__checkbox {
  margin-left: 1.1em;
}
.card--inactive {
  filter: grayscale(1);
  opacity: 50%;
  pointer-events: none;
}
.input {
  transform: rotate(-90deg);
  width: 100px;
  height: 40px;
  position: relative;
  left: -31px;
  top: 33px;
  margin-bottom: 75px;
}
.main_page {
  box-shadow: 20px 25px 25px #000000;
  position: relative;
  box-sizing: border-box;
  background-color: #ffffff;
  z-index: 10;
}
.main_page--hook_sett {
  width: 100px;
  height: 100px;
  border: 1px solid;
  position: absolute;
  left: 0vw;
  top: 5vh;
  pointer-events: none;
  z-index: 30;
}
.main_page--hook_info {
  width: 100px;
  height: 100px;
  border: 1px solid;
  position: absolute;
  right: 0;
  top: 70vh;
  pointer-events: none;
  z-index: 30;
}
.main_page--settAnim {
  animation: main_sett 0.5s cubic-bezier(0.4, 0, 1, 1) 0.1s 1 normal forwards;
}
.main_page--settAnim--back {
  transform: translate(-80vw, -5vh) rotate3d(0.2, -1, 0, 70deg);
  animation: main_back_sett 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s 1 normal forwards;
}
.info_page--infoAnim {
  animation: info 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s 1 normal forwards;
}
.info_page--infoAnim--back {
  transform: translate(0vw, 0vh) rotate3d(0.2, -1, 0, 0deg);
  animation: info_back 0.5s cubic-bezier(0.4, 0, 1, 1) 0.1s 1 normal forwards;
  z-index: 15;
}
@keyframes main_sett {
  0% {transform: translate(0vw, 0vh) rotate3d(0.2, -1, 0, 0deg)}
  /* 40% {transform: translateX(-10vw) rotate3d(0.2, -1, 0, 20deg)} */
  100% {transform: translate(-80vw, -5vh) rotate3d(0.2, -1, 0, 70deg);}
}
@keyframes main_back_sett {
  0% {transform: translate(-80vw, -5vh) rotate3d(0.2, -1, 0, 70deg)}
  /* 60% {transform: translateX(-10vw) rotate3d(0.2, -1, 0, 20deg)} */
  100% {transform: translate(0vw, 0vh) rotate3d(0.2, -1, 0, 0deg)}
}
@keyframes info {
  0% {transform: translate(-80vw, -5vh) rotate3d(0.2, -1, 0, 70deg)}
  /* 40% {transform: translateX(-10vw) rotate3d(0.2, -1, 0, 20deg)} */
  100% {transform: translate(0vw, 0vh) rotate3d(0.2, -1, 0, 0deg)}
}
@keyframes info_back {
  0% {transform: translate(0vw, 0vh) rotate3d(0.2, -1, 0, 0deg)}
  /* 60% {transform: translateX(-10vw) rotate3d(0.2, -1, 0, 20deg)} */
  100% {transform: translate(-80vw, -5vh) rotate3d(0.2, -1, 0, 70deg)}
}
.score_body {
  border: 1px solid transparent;
  min-height: 100vh;
  /* background-image: url("./Images/8737639-1.jpg"); */
  background-size: cover;
  background-color: #deb887;
}
.score {
  padding-top: 20px;
  margin: 10px 0 0 10px;
  display: flex;
  flex-wrap: wrap;
  /* backdrop-filter: blur(7px); */
  /* -webkit-backdrop-filter: blur(7px); */
  /* background-color: rgba(255,255,255,0.35); */
}
.mistakes {
  position: absolute;
  top: 3px;
  left: 48vw;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  transition-duration: 0.5s;
}
.beat__num {
  font-family: 'Montserrat', sans-serif;
}
.bar {
  display: flex;
  background-image: url("./Images/bar/bar.png");
  background-repeat: round;
  margin: 0 0 66px 0;
  padding: 0;
}
.bar::before {
  position: relative;
  right: 2px;
  content: "";
  width: 2px;
  background-image: url("./Images/bar/bar_end.png");
}
.bar::after {
  content: "";
  width: 2px;
  background-image: url("./Images/bar/bar_end.png");
}
.bar_first {
  display: flex;
}
.bar_first::before {
  content: "";
  width: 6px;
  background-image: url("./Images/bar/bar_first_start.png");
}
.bar_last {
  display: flex;
}
.bar_last::after {
  content: "";
  width: 6px;
  background-image: url("./Images/bar/bar_last_end.png");
}
.bar__inside {
  display: flex;
  margin: 0 0 0 6px;
  max-height: 70px;
}
.value {
  position: relative;
  top: 29px;
  margin: 0 20px 0 0;
  width: 35px;
  height: 70px;
  background-size: cover;
}
.value--animation {
  animation: note 0.2s;
}
.value--animation--mistake {
  filter: drop-shadow(2px 4px 6px black);
  opacity: 40%;
}
.four_quarters {
  top: 0;
  right: 3px;
  margin: 0 10px 0 0;
  background-image: url("./Images/bar/four_quarters.png");
}
.beat {
  position: absolute;
  top: 60%;
  left: -8px;
  width: 20px;
  height: 42px;
  background-image: url('./Images/bar/beat.png');
  background-size: cover;
}
.beat div {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.85em;
  position: relative;
  top: 75%;
  left: 7px;
}
.button__holder {
  background-color: rgba(0, 0, 0, 0.5);
}
.button__lvl {
  height: 3em;
}
.linked_in {
  position: relative;
  top: -25px;
  left: 50%;
  width: 19px;
  height: 44px;
  background-size: cover;
  transform: rotate(-90deg);
  background-image: url("./Images/bar/link_Ins.png");
}
.linked_out {
  position: relative;
  top: -31px;
  left: 109%;
  width: 24px;
  height: 55px;
  background-size: cover;
  transform: rotate(-90deg);
  background-image: url("./Images/bar/link_Ins.png");
}
.triplet {
  background-image: url("./Images/tuplets/tuplet.png");
  display: flex;
  background-size: contain;
  background-repeat: no-repeat;
  background-position-y: 5px;
  position: relative;
  margin: 0 20px 0 5px;
}
.quinteplet {
  background-image: url("./Images/tuplets/tuplet.png");
  display: flex;
  background-size: contain;
  background-repeat: no-repeat;
  background-position-y: 5px;
  position: relative;
  margin: 0 20px 0 5px;
}
.tuplet__num {
  position: absolute;
  top: -7px;
  left: calc(50% - 10px);
  font-size: 1.3em;
  font-family: 'Dancing Script', cursive;
}
@keyframes note {
  0% {transform: translateY(0px);}
  30% {transform: translateY(5px);}
  100% {transform: translateY(0px);}
}


/* /////////////// */
.whole {
  top: 0px;
  margin: 0 185px 0 5px;
  background-image: url("./Images/simple/whole.png");
}
.whole--rest {
  top: 1px;
  margin: 0 100px 0 90px;
  background-image: url("./Images/simple/whole_rest.png");
}
.half {
  margin: 0 50px 0 0;
  background-image: url("./Images/simple/half.png");
}
.half--rest {
  top: 1px;
  margin: 0 50px 0 10px;
  background-image: url("./Images/simple/half_rest.png");
}
.quarter {
  background-image: url("./Images/simple/quarter.png");
}
.quarter--rest {
  top: 0;
  background-image: url("./Images/simple/quarter_rest.png");
}
.eighth {
  margin: 0 10px 0 0;
  background-image: url("./Images/simple/eighth.png");
}
.eighth--rest {
  top: 0;
  margin: 0 10px 0 0;
  background-image: url("./Images/simple/eighth_rest.png");
}
.eighth--st {
  margin: 0 -1px 0 0;
  background-image: url("./Images/simple/eighth--st.png");
}
.eighth--gr {
  margin: 0px 0px 0 -1px;
  background-image: url("./Images/simple/eighth--st.png");
}
.eighth--end {
  margin: 0 17px 0 -20px;
  background-image: url("./Images/simple/eighth--end.png");
}
.sixteenth {
  margin: 0 10px 0 4px;
  background-image: url("./Images/simple/sixteenth.png");
}
.sixteenth--rest {
  margin: 0 10px 0 4px;
  top: 0;
  background-image: url("./Images/simple/sixteenth_rest.png");
}
.sixteenth--1--st {
  margin: 0 -1px 0 0;
  background-image: url("./Images/simple/sixteenth--1--st.png");
}
.sixteenth--0--st {
  margin: 0 -1px 0 0;
  background-image: url("./Images/simple/sixteenth--0--st.png");
}
.sixteenth--0--gr {
  margin: 0px 0px 0 -1px;
  background-image: url("./Images/simple/eighth--st.png");
}
.sixteenth--1--gr {
  margin: 0px 0px 0 -1px;
  background-image: url("./Images/simple/sixteenth--1--st.png");
}
.sixteenth--2--gr {
  margin: 0px 0px 0 -1px;
  background-image: url("./Images/simple/sixteenth--0--st.png");
}
.sixteenth--0--end {
  margin: 0 20px 0 -21px;
  background-image: url("./Images/simple/sixteenth--0--end.png");
}
.sixteenth--1--end {
  margin: 0 20px 0 -21px;
  background-image: url("./Images/simple/eighth--end.png");
}
.thirty-second {
  background-image: url("./Images/simple/thirtySecond.png");
}
.thirty-second--rest {
  top: 0;
  background-image: url("./Images/simple/thirtySecond--rest.png");
}
.thirty-second--0--st {
  margin: 0 -1px 0 0;
  background-image: url("./Images/simple/thirtySecond--0--st.png");
}
.thirty-second--1--st {
  margin: 0 -1px 0 0;
  background-image: url("./Images/simple/thirtySecond--1--st.png");
}
.thirty-second--0--gr {
  margin: 0px 0px 0 -1px;
  background-image: url("./Images/simple/thirtySecond--0--st.png");
}
.thirty-second--1--gr {
  margin: 0px 0px 0 -1px;
  background-image: url("./Images/simple/thirtySecond--1--st.png");
}
.thirty-second--2--gr {
  margin: 0px 0px 0 -1px;
  background-image: url("./Images/simple/thirtySecond--0--st.png");
}
.thirty-second--0--end {
  margin: 0 10px 0 -21px;
  background-image: url("./Images/simple/thirtySecond--0--end.png");
}
.thirty-second--1--end {
  margin: 0 10px 0 -21px;
  background-image: url("./Images/simple/eighth--end.png");
}

/* /////// */

.whole--dot {
  top: 0px;
  margin: 0 185px 0 5px;
  background-image: url("./Images/dotted/whole--dot.png");
}
.whole--dot--rest {
  top: 0px;
  margin: 0 100px 0 90px;
  background-image: url("./Images/dotted/whole--dot--rest.png");
}
.half--dot {
  margin: 0 50px 0 0;
  background-image: url("./Images/dotted/half--dot.png");
}
.half--dot--rest {
  top: 1px;
  margin: 0 50px 0 10px;
  background-image: url("./Images/dotted/half--dot--rest.png");
}
.quarter--dot {
  background-image: url("./Images/dotted/quarter--dot.png");
}
.quarter--dot--rest {
  top: 0;
  background-image: url("./Images/dotted/quarter--dot--rest.png");
}
.eighth--dot {
  margin: 0 10px 0 0;
  background-image: url("./Images/dotted/eighth--dot.png");
}
.eighth--dot--rest {
  top: 0;
  background-image: url("./Images/dotted/eighth--dot--rest.png");
}
.eighth--dot--st {
  margin: 0 -1px 0 0;
  background-image: url("./Images/dotted/eighth--dot--st.png");
}
.eighth--dot--gr {
  margin: 0px 0px 0 -1px;
  background-image: url("./Images/dotted/eighth--dot--st.png")
}
.eighth--dot--end {
  margin: 0 20px 0 -20px;
  background-image: url("./Images/dotted/eighth--dot--end.png");
}
.sixteenth--dot {
  margin: 0 10px 0 4px;
  background-image: url("./Images/dotted/sixteenth--dot.png");
}
.sixteenth--dot--rest {
  margin: 0 10px 0 4px;
  top: 0;
  background-image: url("./Images/dotted/sixteenth--dot--rest.png");
}
.sixteenth--dot--0--st {
  margin: 0 -1px 0 0;
  background-image: url("./Images/dotted/thirtySecond--dot--0--st.png");
}
.sixteenth--dot--1--st {
  margin: 0 -1px 0 0;
  background-image: url("./Images/dotted/sixteenth--dot--1--st.png");
}
.sixteenth--dot--0--gr {
  margin: 0px 0px 0 -1px;
  background-image: url("./Images/dotted/eighth--dot--st.png");
}
.sixteenth--dot--1--gr {
  margin: 0px 0px 0 -1px;
  background-image: url("./Images/dotted/sixteenth--dot--1--st.png");
}
.sixteenth--dot--2--gr {
  margin: 0px 0px 0 -1px;
  background-image: url("./Images/dotted/sixteenth--dot--0--st.png");
}
.sixteenth--dot--0--end {
  margin: 0 10px 0 -21px;
  background-image: url("./Images/dotted/sixteenth--dot--0--end.png");
}
.sixteenth--dot--1--end {
  margin: 0 10px 0 -21px;
  background-image: url("./Images/dotted/eighth--dot--end.png");
}
.thirty-second--dot {
  background-image: url("./Images/dotted/thirtySecond--dot.png");
}
.thirty-second--dot--rest {
  top: 0;
  background-image: url("./Images/dotted/thirtySecond--dot--rest.png");
}
.thirty-second--dot--0--st {
  margin: 0 -1px 0 0;
  background-image: url("./Images/dotted/thirtySecond--dot--0--st.png");
}
.thirty-second--dot--1--st {
  margin: 0 -1px 0 0;
  background-image: url("./Images/dotted/thirtySecond--dot--1--st.png");
}
.thirty-second--dot--0--gr {
  margin: 0px 0px 0 -1px;
  background-image: url("./Images/dotted/thirtySecond--dot--0--st.png");
}
.thirty-second--dot--1--gr {
  margin: 0px 0px 0 -1px;
  background-image: url("./Images/dotted/thirtySecond--dot--1--st.png");
}
.thirty-second--dot--2--gr {
  margin: 0px 0px 0 -1px;
  background-image: url("./Images/dotted/thirtySecond--dot--0--st.png");
}
.thirty-second--dot--0--end {
  margin: 0 10px 0 -21px;
  background-image: url("./Images/dotted/thirtySecond--dot--0--end.png");
}
.thirty-second--dot--1--end {
  margin: 0 10px 0 -21px;
  background-image: url("./Images/dotted/eighth--dot--end.png");
}


/*///////////////////// BOOTSTRAP ////////////////// */

.btn:focus {
  box-shadow: none !important;
}
.btn:visited {
  background-color: #19191a;
}
#presets {
  padding-left: 6px;
  padding-right: 9px;
  transform: rotate(180deg);
}
.dropdown-menu {
  background-color: rgba(0, 0, 0, 0.5);
  max-height: 100px;
  overflow: auto;
}
.dropdown-item:active {
  background-color: rgba(0, 0, 0, 0.75);
}
.dropdown-item:focus {
  color: #16181b;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.75);
  outline: none;
}

.progress {
  width: 50%;
  height: 0.8rem;
  border-radius: 0.6rem;
  font-size: 0.7em;
}

.card-body {
  box-shadow: 1px 2px 2px;
}
/* Custom scrollbar */

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1; 
  /* border-radius: 0 5px 5px 0; */
}
::-webkit-scrollbar-thumb {
  background: #555; 
}
::-webkit-scrollbar-thumb:hover {
  background: #000000; 
}

